<table class="table shopping-cart-wrap">
	<tbody>
		<tr>
		  <th scope="col" style="width:350px !important;"><%= labels['LBL_PRODUCT'][language] %></th>
		  <th scope="col" width="60"><%= labels['LBL_UNIT'][language] %></th>
		  <th scope="col" width="150"><%= labels['LBL_VARIETY'][language] %></th>
		  <th scope="col" width="100"><%= labels['LBL_SIZE'][language] %> </th>
		  <th scope="col" width="120"><%= labels['LBL_QUANTITY'][language] %></th>
		  <th scope="col" width="120"><%= labels['LBL_HARVEST_DATE'][language] %></th>
		  <th scope="col" width="120"><%= labels['LBL_STATUS'][language] %></th>
		  <th scope="col" width="200"><%= labels['LBL_ACTION'][language] %></th>
		</tr>
		<% for(let i=0; i < products.length; i++) { %>
			<tr>
				<td>
					<figure class="">
						<div class="img-wrap"><img src="<%= products[i].images[0] %>" class="img-thumbnail img-sm"></div>
						<figcaption class="media-body kp_myorder">
							<h3><%= products[i].sub_category_title %></h3>
							<h4><%= products[i].category_title %> &nbsp; <i style="font-size: 14px;" class="fa fa-map-marker" aria-hidden="true"></i> <span><%= products[i].location %></span></h4>
							<h4 class="currency_color_text sku_wrapper">Kz <%= (products[i].unit_price) %> / <%= products[i].unit_type %></h4>
						</figcaption>
					</figure> 
				</td>
				<td> 
					<h4 class='capitalize'><%= products[i].unit_type %></h4>	
				</td>
				<td> 
					<h4><%= products[i].product_variety_title %></h4>	
				</td>
				<td> 
					<h4><%= products[i].size %></h4>	
				</td>
				<td> 
					<h4 class='capitalize'><%= products[i].remaining_unit_value %> <%= products[i].unit_type %></h4>	
				</td>
				<td> 
					<h4><%= products[i].harvest_date %></h4>	
				</td>
				<td> 
					<h4><%= products[i].status %></h4>	
				</td>
				<td> 
					<div id="view-item" style="display: inline-block;background-color: #4abfa5;padding: 10px;width: 39px;height: 39px;" class="">
						<a href="<%=baseURL%>producers/product/order/<%= products[i].product_id %>"><i style="font-size: 22px;color: #fff;" class="fa fa-eye"></i></a>
					</div>
					<div id="edit-item" style="display: inline-block;background-color: #f69624;padding: 10px;width: 39px;height: 39px;"  class="">
						<a href="<%=baseURL%>producers/product/display/<%= products[i].product_id %>"><i style="font-size: 22px;color: #fff;" class="fa fa-edit"></i></a>
					</div>
					<div id="delete-item" style="display: inline-block;background-color: #aa1a2b;padding: 10px;width: 39px;height: 39px;" class="">
						<a onclick="notificacao('<%= products[i].sub_category_title %>','<%= products[i].product_id %>')"
							href="#"><i style="font-size: 22px;color: #fff;" class="fa fa-trash"></i></a>
					</div>
				</td>									
			</tr>
		<% } %>
	</tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
	function notificacao(sub_category_title, product_id) {
			$.confirm({
			title: 'Desejas remover o produto ?',
			content:"ID: " + product_id + "<br>" + "Nome: " + sub_category_title,
			type: 'purple',
			typeAnimated: true,
			buttons: {
				tryAgain: {
					text: 'Sim',
					btnClass: 'btn',
					action: function () {
						$.ajax({
							url: "<%=baseURL%>producers/product/remove/" + product_id,
							success: function (result) {
								if (result === '0') {
									showAlert('O produto ' + product_id + ' não pode ser removido', '<%=baseURL%>', '');
									setTimeout(() => {
										hideAlert()
									}, 3000);
								} else if (result === '1') {
									showAlert('O produto ' + product_id + 'removido com sucesso!', '<%=baseURL%>', '');
									setTimeout(() => {
										hideAlert()
									}, 2000);
									setTimeout(() => {
										window.location.replace("list");
									}, 2000);
								}
							},
							error: function () {
								location.reload(true);
							}
						});
					}
				},
				close: function () {
				}
			}
		});
	}

	tippy('#view-item', {
        content: 'Visualizar',
		theme: 'tomato'
      });
	  tippy('#edit-item', {
        content: 'Editar',
		theme: 'tomato'
      });
	  tippy('#delete-item', {
        content: 'Eliminar',
		theme: 'tomato'
      });
</script>