<link rel="stylesheet" type="text/css" href="../../../css/product-list.css">
<section class="productsdetail">
	<div class="container">
		<div class="breadcrumb_card">
			<%- include('../../shared/breadcrumb') %>
		</div>
		<div class="product_card">
			<div class="row add-address post-add">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3>
						<%= labels['LBL_LIST_PRODUCTS'][language] %>
					</h3>
				</div>

				<% if(products.length> 0) { %>
					<div style="padding:0;" class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								<label class="my-1 mr-2">
									<%= labels['LBL_CATEGORIES'][language] %>
								</label>
								<select class="custom_input enable-cursor category_id" id="category_id">
									<option value="all">
										<%= labels['LBL_ALL'][language] %>
									</option>
									<% for(let i=0; i < categories.length; i++) { %>
										<option value="<%= categories[i]['category_id'] %>">
											<%= categories[i]['title'] %>
										</option>
										<% } %>
								</select>
							</div>
							<div class="col-md-2">
								<label class="my-1 mr-2">
									<%= labels['LBL_TYPE'][language] %>
								</label>
								<select class="custom_input enable-cursor" id="type">
									<option value="all">
										<%= labels['LBL_ALL'][language] %>
									</option>
									<option value="available">
										<%= labels['LBL_AVAILABLE'][language] %>
									</option>
									<option value="expired">
										<%= labels['LBL_EXPIRED'][language] %>
									</option>
									<option value="out_of_stock">
										<%= labels['LBL_OUT_OF_STOCK'][language] %>
									</option>
								</select>
							</div>
							<div class="col-md-3">
								<label class="my-1 mr-2">
									<%= labels['LBL_STATUS'][language] %>
								</label>
								<select class="custom_input enable-cursor" id="status">
									<option value="all">
										<%= labels['LBL_ALL'][language] %>
									</option>
									<option value="approved">
										<%= labels['LBL_APPROVED'][language] %>
									</option>
									<option value="not_approved">
										<%= labels['LBL_NOT_APPROVED'][language] %>
									</option>
								</select>
							</div>
							<div class="col-md-2">
								<label class="my-1 mr-2">
									<%= labels['LBL_SORT_BY_PRICE'][language] %>
								</label>
								<select class="custom_input enable-cursor" id="sort_by_price">
									<option value="min">
										<%= labels['LBL_MIN'][language] %>
									</option>
									<option value="max">
										<%= labels['LBL_MAX'][language] %>
									</option>
								</select>
							</div>
							<div class="col-md-2">
								<label class="my-1 mr-2">
									<%= labels['LBL_SORT_BY_QTY'][language] %>
								</label>
								<select class="custom_input enable-cursor" id="sort_by_qty">
									<option value="min">
										<%= labels['LBL_MIN'][language] %>
									</option>
									<option value="max">
										<%= labels['LBL_MAX'][language] %>
									</option>
								</select>
							</div>
							<div class="col-md-12">
								<a href="javascript:void(0)" onclick="filterProducts()"><button style="margin: 20px 0;"
										class="button btn-cart">
										<%= labels['LBL_APPLY'][language] %>
									</button></a>
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-sm-12 list-products" style="margin-top: -10px;">
						<a href="add" style="float: right; margin: 0;"><button
								class="main_btn add-product-btn-left-space">
								<%= labels['LBL_POST_ADD_NOW'][language] %>
							</button></a>
						<table class="table shopping-cart-wrap">
							<tbody>
								<tr>
									<th scope="col" style="width:350px !important;">
										<%= labels['LBL_PRODUCT'][language] %>
									</th>
									<th scope="col" width="60">
										<%= labels['LBL_UNIT'][language] %>
									</th>
									<th scope="col" width="150">
										<%= labels['LBL_VARIETY'][language] %>
									</th>
									<th scope="col" width="100">
										<%= labels['LBL_SIZE'][language] %>
									</th>
									<th scope="col" width="120">
										<%= labels['LBL_QUANTITY'][language] %>
									</th>
									<th scope="col" width="120">
										<%= labels['LBL_HARVEST_DATE'][language] %>
									</th>
									<th scope="col" width="120">
										<%= labels['LBL_STATUS'][language] %>
									</th>
									<th scope="col" width="200">
										<%= labels['LBL_ACTION'][language] %>
									</th>
								</tr>
								<% for(let i=0; i < products.length; i++) { %>
									<tr>
										<td>
											<figure class="">
												<div class="img-wrap"><img src="<%= products[i].images[0] %>"
														class="img-thumbnail img-sm"></div>
												<figcaption class="media-body kp_myorder">
													<h3 class="list-product-m-item ">
														<%= products[i].sub_category_title %>
													</h3>

													<h4><span class="product-number-text list-product-m-item">
														#<%= products[i].product_id %></span> &nbsp; 
														<div class="list-product-m-item"><i style="font-size: 14px;" class="fa fa-map-marker" aria-hidden="true"></i>
															<span>
																<%= products[i].location %>
															</span>
														</div>
													</h4>

													<h4 class="list-product-m-item currency_color_text sku_wrapper">
														<%= (products[i].unit_price) %> Kz / <%= products[i].unit_type %>

													</h4>
												</figcaption>
											</figure>
										</td>
										<td>
											<h4 class='capitalize'>
												<%= products[i].unit_type %>
											</h4>
										</td>
										<td>
											<h4>
												<%= products[i].product_variety_title %>
											</h4>
										</td>
										<td>
											<h4>
												<%= products[i].size %>
											</h4>
										</td>
										<td>
											<h4 class='capitalize'>
												<%= products[i].remaining_unit_value %>
													<%= products[i].unit_type %>
											</h4>
										</td>
										<td>
											<h4>
												<%= products[i].harvest_date %>
											</h4>
										</td>
										<td>
											<h4>
												<%= products[i].status %>
											</h4>
										</td>
										<td>
											<div id="view-item" style="display: inline-block;background-color: #4abfa5;padding: 10px;width: 39px;height: 39px;"
												>
												<a
													href="<%=baseURL%>producers/product/order/<%= products[i].product_id %>"><i
														style="font-size: 22px;color: #fff;" class="fa fa-eye" ></i></a>
											</div>
											<div  id="edit-item" style="display: inline-block;background-color: #f69624;padding: 10px;width: 39px;height: 39px;"
												>
												<a 
													href="<%=baseURL%>producers/product/display/<%= products[i].product_id %>"><i
														style="font-size: 22px;color: #fff;" class="fa fa-edit" ></i></a>
											</div>
											<div id="delete-item" style="display: inline-block;background-color: #aa1a2b;padding: 10px;width: 39px;height: 39px;">
												<a href="javascript:void(0)" 

													onclick="notificacao('<%= products[i].sub_category_title %>','<%= products[i].product_id %>','<%= products[i].images[0] %>')"
													href="<%=baseURL%>producers/product/remove/<%= products[i].product_id %>"><i
														style="font-size: 22px;color: #fff;"
														class="fa fa-trash" ></i></a>
												<!-- <a
													     href="<%=baseURL%>producers/product/remove/<%= products[i].product_id %>"><i
														style="font-size: 22px;color: #fff;"
														class="fa fa-trash"></i></a>  -->
											</div>
										</td>
									</tr>
									<% } %>
							</tbody>
						</table>
					</div>
					<% }else { %>
						<div class='row'>
							<div class='col-md-12 thankyou'><img src='<%=baseURL%>images/thankyou.png'>
								<p>
									<%= labels['LBL_NO_PRODUCTS_AVAILABLE'][language] %>
								</p>
							</div>
						</div>
						<% } %>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
	function filterProducts() {
		let category_id = $('#category_id').val();
		let type = $('#type').val();
		let status = $('#status').val();
		let sort_by_price = $('#sort_by_price').val();
		let sort_by_qty = $('#sort_by_qty').val();

		$.ajax({
			url: "<%=baseURL%>producers/product/filter-list?category_id=" + category_id + "&type=" + type + "&status=" + status + "&sort_by_price=" + sort_by_price + "&sort_by_qty=" + sort_by_qty, success: function (result) {
				$('.list-products').html(result);
			}
		});
	}

	tippy('#view-item', {
        content: 'Visualizar',
		theme: 'tomato'
      });
	  tippy('#edit-item', {
        content: 'Editar',
		theme: 'tomato'
      });
	  tippy('#delete-item', {
        content: 'Eliminar',
		theme: 'tomato'
      });

	  function notificacao(sub_category_title, product_id,img) {

		$.confirm({
			title: '<p style= "font-size: 18px;">Tens certeza que deseja remover este produto ?</p>',
			content: '<img src="' + img + '" class="img-thumbnail img-sm" style="width:60px;height:55px; margin-top:0px;">' + '<p style= "margin-left:80px; margin-top:-50px; font-size:15px;">' + ' ID: ' + product_id + "<br>" + " Nome: " + sub_category_title + '</p>',
			type: 'green',
			typeAnimated: true,
			buttons: {
				yes: {
					text: 'Sim',
					btnClass: 'btn-green',
					action: function () {
						$.ajax({
							url: "<%=baseURL%>producers/product/remove/" + product_id,
							success: function (result) {
								if (result === '0') {
									showAlert('O produto ' + product_id + ' não pode ser removido', '<%=baseURL%>', '');
									setTimeout(() => {
										hideAlert()
									}, 3000);
								} else if (result === '1') {
									showAlert('O produto ' + product_id + 'removido com sucesso!', '<%=baseURL%>', '');
									setTimeout(() => {
										hideAlert()
									}, 2000);
									setTimeout(() => {
										window.location.replace("list");
									}, 2000);
								}
							},
							error: function () {
							}
						});
					}
				},
				no: {
					keys: ['Não'],
					text: 'Não',
					btnClass: 'btn-green',
				}
			}
		});
	}
</script>