<div class="footer-data">
	<img src="../../../images/logo-white.png">
    <p>
		<i class="fa fa-home mr-3"></i> <%= labels['LBL_ADDRESS_KEPYA'][language] %>, <br /> Luanda - Angola.
  	</p>
    <p>
      <i class="fa fa-phone mr-3"></i> +244 936206262
  	</p>
    <p>
      <i class="fa fa-envelope mr-3"></i> geral@kepya.co.ao
  	</p>
</div>
<div class="footer-data">
	<h3><%= labels['LBL_INFORMATION'][language] %></h3>
	<ul>
		<li><a href="<%=siteURL%>about-us"><%= labels['LBL_ABOUT_US'][language] %> </a></li>
		<li><a href="<%=siteURL%>contact-us"><%= labels['LBL_CONTACT_US'][language] %></a></li>
		<li><a href="<%=siteURL%>terms-and-condition"><%= labels['LBL_TERMS_AND_CONDITION'][language] %> </a></li>
		<li><a href="<%=siteURL%>privacy-policy"><%= labels['LBL_PRIVACY_POLICY'][language] %> </a></li>
		<li><a href="<%=siteURL%>faqs"><%= labels['LBL_HELP'][language] %> </a></li>
	</ul>
</div>
