<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kepya Agromercado Digital</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
	<%- include('shared/common_css') %>
	<script type='text/javascript' src="js/jquery-1.12.4.js"></script>
	<script type='text/javascript' src="js/language.js"></script>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
<section class="login-section text-center">
	<div class="overlay-position"></div>
	<div class="login-page">
		<div class="container">
			<div class="login-box">
				<div class="row">
					<%- include('shared/language_section') %>
				</div>
				<img src="images/logo.png">
				<h1><%= labels['LBL_FORGOT_PASSWORD_TITLE'][language] %>.</h1>
				<div class="row">
					<div class="col-md-12 col-sm-12 form">
						<div class="form-group">
						    <input type="text" id="txt-email-address" name="email" class="form-control" placeholder="<%= labels['LBL_FORGOT_PASSWORD_EMAIL'][language] %>" required="">
						    <span class="validation-alert" id='err-email-address'></span>
						</div>
						<a href="javascript:void(0)"><button type="button" class="btn btn-default btn-password-reset-link" onclick="submitResetPassword()"><%= labels['LBL_FORGOT_PASSWORD_SEND_PASSWORD_RESET_LINK'][language] %></button></a>
						<div class="text-center creat_new"><%= labels['LBL_FORGOT_PASSWORD_ALREADY_DONE'][language] %>? <a href="/"><%= labels['LBL_FORGOT_PASSWORD_BACK_TO_SIGN_IN'][language] %></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<form action="check-your-email" method="post" id="frm-check-email">
	<input type="hidden" name="email" id="email">
</form>
<script src='js/bootstrap.min.js'></script>
<script src="js/jquery.notify.min.js"></script>
<script src='js/validation.js'></script>
<script type="text/javascript">
	let emailAddress = '', errEmailAddressFlag = 0;
	function validateResetPassword(){
		errEmailAddressFlag = validateEmailAddress($('#txt-email-address').val());
		if(errEmailAddressFlag > 0){
			caption = (errEmailAddressFlag == 1) ? "<%= labels['LBL_FORGOT_PASSWORD_VALIDATE_BLANK_EMAIL'][language] %>" : "<%= labels['LBL_FORGOT_PASSWORD_VALIDATE_FORMAT_EMAIL'][language] %>";
			$('#err-email-address').text(caption).show();
		} else {
			$('#err-email-address').hide();
		}

		if(!errEmailAddressFlag){
			return true;
		} else {
			return false;
		}
	}

	function submitResetPassword(){
		if(validateResetPassword()){
			$('#email').val($('#txt-email-address').val());
			$.post('forgot-password', {email: $('#txt-email-address').val()}).done((response) => {
				if(parseInt(response.code) == 200){
					$('#frm-check-email').submit();
				} else {
					showAlert(response.message);
					setTimeout(() => {
						hideAlert()
						$('#txt-email-address').val('');
					}, 3000);
				}
			});
		}
	}

	function showAlert(message){
		notify({
            type: "error",
            title: "<%= labels['LBL_MESSAGE'][language] %>",
			theme: "dark-theme",
			position: {
                x: "right",
                y: "top"
            },
            icon: '<img src="images/paper_plane.png" />',
            message: message
        });
	}
	function hideAlert(){
		$( ".notify-close-btn" ).trigger( "click" );
	}

	$(document).ready(function(){
		$('#txt-email-address').keypress(function (e) {
		 	let key = e.which;
		 	if(key == 13){
		 		$('.btn-password-reset-link').trigger('click');
		    	return false;
		  	}
		});
	});
</script>
</body>
</html>