<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kepya Agromercado Digital</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/logo.png">
	<%- include('shared/common_css') %>
	<script type='text/javascript' src="../js/jquery-1.12.4.js"></script>
	<script type='text/javascript' src="../js/language.js"></script>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>

<section class="login-section text-center">
	<div class="overlay-position"></div>
	<div class="login-page">
		<div class="container">
			<div class="login-box">
				<div class="row">
					<%- include('shared/language_section') %>
				</div>
				
				<img src="images/logo.png">
				<h1><span><i class="fa fa-check" aria-hidden="true"></i></span> <%= labels['LBL_PASSWORD_CHANGED_DESCRIPTION'][language] %>.</h1>
				<div class="row">
					<div class="col-md-12 col-sm-12 form">
						<div class="text-center creat_new"><a href="/"><%= labels['LBL_PASSWORD_CHANGED_SIGN_IN'][language] %></a> <%= labels['LBL_PASSWORD_CHANGED_TO_YOUR_ACCOUNT'][language] %>. </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src='../js/bootstrap.min.js'></script>
<script src="../js/jquery.notify.min.js"></script>
</body>
</html>