<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>Kepya Agromercado Digital</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/logo.png">
	<%- include('shared/common_css') %>
	<script type='text/javascript' src="../js/jquery-1.12.4.js"></script>
	<script type='text/javascript' src="../js/language.js"></script>
</head>
<body>

<section class="login-section text-center">
	<div class="overlay-position"></div>
	<div class="login-page">
		<div class="container">
			<div class="login-box">
				<div class="row">
					<%- include('shared/language_section') %>
				</div>

				<img src="../../images/logo.png">
				<h1><%= labels['LBL_RESET_PASSWORD_ENTER_A_NEW_PASSWORD_FOR'][language] %> <br /> <span><%= email %></span> </h1>
				<div class="row">
					<div class="col-md-12 col-sm-12 form">
						<div class="form-group">
						    <input type="password" id="txt-password" name="password" class="form-control" placeholder="<%= labels['LBL_RESET_PASSWORD_ENTER_A_NEW_PASSWORD'][language] %>" required="">
						    <span class="validation-alert" id='err-password'></span>
						</div>
						<div class="form-group">
						    <input type="password" id="txt-confirm-password" name="confirm_password" class="form-control" placeholder="<%= labels['LBL_RESET_PASSWORD_ENTER_A_NEW_CONFIRM_PASSWORD'][language] %>" required="">
						    <span class="validation-alert" id='err-confirm-password'></span>
						</div>
						<a href="javascript:void(0)"><button type="button" class="btn btn-default" onclick="submitResetPassword()"><%= labels['LBL_RESET_PASSWORD_SAVE'][language] %></button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src='../js/bootstrap.min.js'></script>
<script src="../js/jquery.notify.min.js"></script>
<script src='../js/validation.js'></script>
<script type="text/javascript">
	let caption = '', password = '', errPassword = 0, errConfirmPassword = 0, otp = "<%= id %>";
	function validateResetPassword(){
		if(!$('#txt-password').val()){
			errPassword = 1;
			caption = "<%= labels['LBL_RESET_PASSWORD_VALIDATE_BLANK_PASSWORD'][language] %>";
			$('#err-password').text(caption).show();
		} else {
			errPassword = 0;
			$('#err-password').hide();
		}

		if(!$('#txt-confirm-password').val()){
			errConfirmPassword = 1;
			$('#err-confirm-password').text("<%= labels['LBL_SIGN_UP_VALIDATE_BLANK_CONFIRM_PASSWORD'][language] %>").show();
		} else if($('#txt-password').val() != $('#txt-confirm-password').val()) {
			errConfirmPassword = 1;
			$('#err-confirm-password').text("<%= labels['LBL_SIGN_UP_VALIDATE_MATCH_PASSWORD_CONFIRM_PASSWORD'][language] %>").show();
		} else {
			errConfirmPassword = 0;
			$('#err-confirm-password').hide();
		}

		if(!errPassword && !errConfirmPassword){
			return true;
		} else {
			return false;
		}
	}

	function submitResetPassword(){
		if(validateResetPassword()){
			$.post('../reset-password', { otp, password: $('#txt-password').val() }).done((response) => {
				window.location.href = '../password-changed';
			});
		}
	}
</script>
</body>
</html>