
<%- include('../shared/common_css') %>
<link rel="stylesheet" href="/../css/dashboard.css" />

<style type="text/css">
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #6c88a7;

}
.fa {
    font-size: 12px;
}
	</style>


	<div class="container custom-container" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="row paddy50">
			<div class="col-md-2">
				<div class="logo">
					<a href="" title="Freshmart">
						<img class="img-responsive" src="../../../images/logo.png" alt="Freshmart">
					</a>
				</div>
			</div>
			<div class="col-md-10 paddy0">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 cus_width">
						<ul class="topnav" id="myTopnav">
							<li class="call"><a href="tel:+244 93620626"><img src="../../../images/telephone.png"> +244
									936206262</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
<ul class="menu2">
	<div class="container">
		<li>
			<a href="<%=baseURL%>producers/product/add">
				<div class="account_box2">
					<img src="../../../images/postadd.png">
					<div class="account_box_inner2">
						<h3><%= labels['LBL_PRODUCER_DASHBOARD_POST_FORECAST_OR_PRODUCTS'][language] %></h3>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="<%=baseURL%>producers/product/list">
				<div class="account_box2">
					<img src="../../../images/open-box.png">
					<div class="account_box_inner2">
						<h3><%= labels['LBL_PRODUCER_DASHBOARD_LIST_PRODUCTS_TITLE'][language] %></h3>					
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="<%=baseURL%>producers/order/list">
				<div class="account_box2">
					<img src="../../../images/order.png">
					<div class="account_box_inner2">
						<h3><%= labels['LBL_PRODUCER_DASHBOARD_YOUR_ORDERS'][language] %></h3>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="<%=baseURL%>producers/user/profile">
				<div class="account_box2">
					<img src="../../../images/login.png">
					<div class="account_box_inner2">
						<h3><%= labels['LBL_PRODUCER_DASHBOARD_LOGIN_SECURITY'][language] %></h3>
					</div>
				</div>
			</a>
		</li>
	</div>
</ul>

<section class="productsdetail">
	<div class="container">
		<div class="breadcrumb_card">
			<%- include('../shared/breadcrumb') %>
		</div>

		<div class="product_card">
		<div class="row">
			

			<div class="col-md-12">
			<div class="row">
				<div class="col-md-2" style="margin-top: 100px;">
					<form>
						<input type="text" name="" class="form-control" placeholder="Mercado">
						<input type="date" name="" class="form-control">
						
						<button type="button" class="btn btn-default btn-sign-in">Buscar</button>
					</form>
				</div>
				<div class="col-md-10">

					<div class="card border-secundary" style="width: 91%; margin-left: 3%; margin-bottom: 20px;background: black; color: #FFFFFF">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-1">
									<img src="../../../images/logo.png" width="100" class="">
								</div>
								<div class="col-md-3" style="padding-top: 40px; padding-left: 70px; text-align: center;" >
									<div class="col-md-12 index-text"></div>
									<div class="col-md-12 index-porc"></div>
								</div>
								<div class="col-md-6" style="padding-top: 40px; padding-left: 1px; text-align: center;">
									<div class="col-md-12">Mercado do 30</div>
									<div class="col-md-12">VARIAÇÃO SEMANAL DA MÉDIA DE PREÇOS</div>
								</div>
							</div>
							<div class="col-md-12" style="background: #f69624; padding: 1%; color: #000;">
								<div class="row">
									<div class="col-md-2">KEPYA INDEX</div>
									<div class="col-md-10" style="text-align: center;"> DE 2021-04-27 ATÉ 2021-05-05</div>
								</div>
							</div>
						</div>
		
						<div class="table-responsive-sm">
							<table class="table table-striped table-dark">
								<thead style="text-align: center;" >
									<tr>
										<th>Produto</th>
										<th>Preço Ant.</th>
										<th>Preço Act</th>
										<th>Preço Min</th>
										<th>Preço Max</th>
										<th>Variaçâo %</th>
										<th>Tendência</th>
										<th>Variaçâo Kz</th>
									</tr>
								</thead>
									<tbody id="tbody_record" style="text-align: center;">

									</tbody>
								</table>
						</div>
					</div>
					
				</div>
			</div>
		</div>


		</div>
	</div>
</section>



	<script type='text/javascript' src="../../js/jquery-1.12.4.js"></script>
	<script>
		$(document).ready(function(){

			$.ajax({
    url: "get-kepya-index",
    type: "GET",
    dataType: "json",
    success: function(data){
    	var index = data.all_element_trace.index;
       $(".index-text").text("% "+ toFixed(index));

       if(toFixed(index) > 0 ) {
        		variant_tran = '<i class="fas fa-caret-up" style="color: red;"></i>';
        	}else {
        		variant_tran = '<i class="fas fa-caret-down" style="color: green;"></i>';
        	}

        	$(".index-porc").html( variant_tran);


       var trace = data.trace;

       var trHtml ="";
        trace.forEach(function(element, index){

        	var variant_tran = "";

        	if(toFixed(element.variant) > 0 ) {
        		variant_tran = '<i class="fas fa-caret-up" style="color: red;"></i>';
        	}else {
        		variant_tran = '<i class="fas fa-caret-down" style="color: green;"></i>';
        	}
             trHtml += '<tr><td style="color: #f69624;">'+element.element.product_name+'</td><td>'+element.last_price+'</td><td>'+element.element.act_price+'</td><td>'+element.element.min_price+'</td><td>'+element.element.max_price+'</td><td>'+toFixed(element.variant)+'</td><td>'+variant_tran+'</td><td>'+element.vari_in_kz+'</td></tr>';

	        	});
        	$("#tbody_record").append(trHtml);

	    	}
		});
	});

	function toFixed(x) {
  return Number.parseFloat(x).toFixed(2);
}


	</script>

