<link rel="stylesheet" href="../../../css/dashboard.css"/>
<link rel="stylesheet" href="../../../css/product.css">
<ul class="menu2">
	<div class="container">
		<li>
			<a href="<%=baseURL%>compradors/order/list">
				<div class="account_box2">
		        	<img src="../../../images/order.png">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_YOUR_ORDERS'][language] %></h3>
		        	</div>
				</div>
			</a>
		</li>
		
		<li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<div class="account_box2">
							<img src="../../../images/open-box.png">
							<div class="account_box_inner2">
								<h3><%= labels['LBL_LIST_COMPRADOR_PEDIDO_MENU'][language] %></h3>
								<b class="caret"></b>
							</div>
						</div>
					</a>

					<ul class="dropdown-menu my_account">
						<li><a class="" href="<%=baseURL%>compradors/product/add"><%= labels['LBL_COMPRADOR_DASHBOARD_POST_YOUR_DEMAND'][language] %></a></li>
						<li style="margin-top: -25px;" class=''><a class="" href="<%=baseURL%>compradors/product/list"><%= labels['LBL_MENU_COMPRADOR_MANAGE_ORDERS'][language] %></a></li>
					</ul>
				</li>
			
		</li>

		<!-- <li>
			<a href="<%=baseURL%>compradors/product/add">
				<div class="account_box2">
		        	<img src="../../../images/postadd.png">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_POST_YOUR_DEMAND'][language] %></h3>
		        	</div>
				</div>
			</a>
		</li> -->
		
		<li>
			<a href="<%=baseURL%>compradors/explore/list">
				<div class="account_box2">
		        	<img src="../../../images/explore_pro.PNG">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_EXPLORE_PRODUCTS'][language] %></h3>
		        	</div>
				</div>
			</a>	
		</li>
		<li>
			<a href="<%=baseURL%>compradors/favourite/list">
				<div class="account_box2">
		        	<img src="../../../images/wishlist.png">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_YOUR_FAVOURITE_LIST'][language] %></h3>
		        	</div>
				</div>
			</a>
		</li>
		<li>
			<a href="<%=baseURL%>compradors/user/address">
				<div class="account_box2">
		        	<img src="../../../images/pin_.png">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_YOUR_ADDRESSES'][language] %></h3>
		        	</div>
				</div>
			</a>
		</li>
		<li>
			<a href="<%=baseURL%>compradors/user/profile">
				<div class="account_box2">
		        	<img src="../../../images/login.png">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_LOGIN_SECURITY'][language] %></h3>
		        	</div>
				</div>
			</a>
		</li>
		<li>
			<a href="<%=baseURL%>kepyaindex">
				<div class="account_box2">
		        	<img src="../../../images/login.png">
		        	<div class="account_box_inner2">
			        	<h3><%= labels['LBL_COMPRADOR_DASHBOARD_KEPYA_INDEX'][language] %></h3>
		        	</div>
				</div>
			</a>
		</li>

	</div>
</ul>

<section class="products" style="margin-bottom: -60px;">
	<div class="container">
		<div class="accordion js-accordion">
			<div class="accordion__item js-accordion-item">
				 <div class="accordion-header-dash js-accordion-header head_">
					  <span></span></div>
				 <div class="accordion-body js-accordion-body">
					<div class="row">
						<div style="padding:0;" class="col-md-3">				
							<div class="dashboard-heading">
								<div class="all">
									<div class="row">
										<div class="col-md-12 cus_paddy">
											<div class="box dash_bg">
												<h3 class="dash_title"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS'][language] %></h3>
												<section class="statis text-center">
													<div class="row">
														<div class="col-md-12">
															<a href="<%=baseURL%>compradors/statistics/total_purchase">
																<div class="box dash_bg">
																	<i class="fa fa-bar-chart"></i>
																	<h4 class="stat_title total-purchase">0</h4>
																	<p class="lead"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS_TOTAL_PURCHASE'][language] %> </p>
																</div>
															</a>
														</div>
														<div class="col-md-12">
															<div class="box dash_bg">
																<i class="fa fa-eye"></i>
																<h4 class="stat_title total-product-views">0</h4>
																<p class="lead"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS_TOTAL_PRODUCT_VIEWS'][language] %></p>
															</div>
														</div>
														<div class="col-md-12">
															<a href="<%=baseURL%>compradors/favourite/list">
																<div class="box dash_bg">
																	<i class="fa fa-heart-o"></i>
																	<h4 class="stat_title total-favourite-products">0</h4>
																	<p class="lead"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS_TOTAL_FAVOURITE_PRODUCTS'][language] %></p>
																</div>
															</a>
														</div>
														<div class="col-md-12">
															<div class="box dash_bg">
																<i class="fa fa-cart-plus"></i>
																<h4 class="stat_title total-purchase-products">0</h4>
																<p class="lead"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS_TOTAL_PURCHASE_PRODUCTS'][language] %></p>
															</div>
														</div>
														<div class="col-md-12">
															<a href="<%=baseURL%>compradors/product/list">
																<div class="box dash_bg">
																	<i class="fa fa-check-circle"></i>
																	<h4 class="stat_title total-active-demands">0</h4>
																	<p class="lead"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS_TOTAL_ACTIVE_DEMANDS'][language] %></p>
																</div>
															</a>
														</div>
														<div class="col-md-12">
															<a href="<%=baseURL%>compradors/product/list">
																<div class="box dash_bg">
																	<i class="fa fa-hourglass-end"></i>
																	<h4 class="stat_title total-expired-demands">0</h4>
																	<p class="lead"><%= labels['LBL_COMPRADOR_DASHBOARD_STATISTICS_TOTAL_EXPIRED_DEMANDS'][language] %></p>
																</div>
															</a>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>

								</div>
							</div>	
						</div>
						<div style="padding:0;" class="col-md-9">
							<div class="dashboard-heading">
								<div class="box dash_bg" style="height: 535px !important;">
									<div class="row">
										<div class="col-md-6">
											<div class="box dash_bg">
												<h4><%= labels['LBL_COMPRADOR_DASHBOARD_CHART_OUTWARDS'][language] %></h4>
												<div class="starter-stats">
													<div class="clear"></div>
													<div class="gains">
														<canvas id="myChart" height="250" class='outwardsChart'></canvas>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="box dash_bg">
												<h4><%= labels['LBL_COMPRADOR_DASHBOARD_CHART_PURCHASE'][language] %></h4>
												<div class="starter-stats">
													<div class="clear"></div>
													<div class="gains">
														<canvas id="bar-chart" height="250" class='purchaseChart'></canvas>
													</div>
												</div>
											</div>
										</div>				  			
									</div>
									<div style="padding-top: 20px;" class="">
										<h4 style="padding-bottom: 15px;" class="dash_title"><%= labels['LBL_PRODUCER_DASHBOARD_TOTAL_ORDERS'][language] %></h4>
										<section class="statis text-center">
											<div class="row">
												<div class="col-md-4">
													<div class="box dash_bg">
														<i class="fa fa-shopping-cart"></i>
														<h4 class="stat_title open-orders">0</h4>
														<p class="lead"><%= labels['LBL_PRODUCER_DASHBOARD_TOTAL_OPEN_ORDERS'][language] %></p>
													</div>
												</div>
												<div class="col-md-4">
													<div class="box dash_bg">
														<i class="fa fa-shopping-cart"></i>
														<h4 class="stat_title completed-orders">0</h4>
														<p class="lead"><%= labels['LBL_PRODUCER_DASHBOARD_TOTAL_COMPLETED_ORDERS'][language] %></p>
													</div>
												</div>
												<div class="col-md-4">
													<div class="box dash_bg">
														<i class="fa fa-shopping-cart"></i>
														<h4 class="stat_title cancelled-orders">0</h4>
														<p class="lead"><%= labels['LBL_PRODUCER_DASHBOARD_TOTAL_CANCELLED_ORDERS'][language] %></p>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="best_product products" style="margin-bottom: -40px;">
	<div class="container">
		<div class="white_bg product_card">
			<div class="row" style="margin-top: -10px;">
				<div class="col-md-12 data-section">
					<h3><%= labels['LBL_COMPRADOR_DASHBOARD_MATCH_PRODUCTS'][language] %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 match-products">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="best_product products" style="margin-bottom: -40px;">
	<div class="container">
		
		<div class="white_bg product_card">
			<div class="row">
				<div class="col-md-12 data-section">
					<h3><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS'][language] %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box dash_bg">
						<div style="padding-top: 0;margin-top: 15px;" class="wallet_history">
							<table class="table table-striped tbl-bottom-space ">
								<thead>
									<tr>
										<th scope="col" width='15%'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_ORDER_ID'][language] %></th>
										<th scope="col" width='15%'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_ORDERED_DATE'][language] %></th>
										<th scope="col" width='15%'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_SHIPPED_DATE'][language] %></th>
										<th scope="col" width='30%'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_DESTINATION_ADDRESS'][language] %></th>
										<th scope="col" width='15%'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_TOTAL_AMOUNT'][language] %></th>
										<th scope="col" width='10%'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_STATUS'][language] %></th>
									</tr>
								</thead>
								<tbody id='tbl_ongoing_orders'>
							  		<tr><td colspan='6'><%= labels['LBL_COMPRADOR_DASHBOARD_ONGOING_ORDERS_NO_ORDERS'][language] %></td></tr>
							  	</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="best_product products">
	<div class="container">
		
		<div class="white_bg product_card">
			<div class="row">
				<div class="col-md-12 data-section">
					<h3><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS'][language] %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box dash_bg">
						<div style="padding-top: 0;margin-top: 15px;" class="wallet_history">
							<table class="table table-striped tbl-bottom-space ">
								<thead>
									<tr>
										<th scope="col" width='20%'><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS_TITLE'][language] %></th>
										<th scope="col" width='20%'><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS_CATEGORY'][language] %></th>
										<th scope="col" width='25%'><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS_UNIT_PRICE'][language] %></th>
										<th scope="col" width='25%'><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS_QTY'][language] %></th>
										<th scope="col" width='10%'><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS_LOCATION'][language] %></th>
									</tr>
								</thead>
								<tbody id='tbl_recently_viewed_products'>
							  		<tr><td colspan='5'><%= labels['LBL_COMPRADOR_DASHBOARD_RECENTLY_VIEWED_PRODUCTS_NO_PRODUCTS'][language] %></td></tr>
							  	</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section class="best_product products" >
	<div class="container">
		<div class="white_bg product_card">
			<div class="row">
				<div class="col-md-12 data-section">
					<h3><%= labels['LBL_COMPRADOR_DASHBOARD_RECOMMENDED_PRODUCTS'][language] %></h3>
				</div>
			</div>
			<div class="row recommended-products">

			</div>
		</div>
	</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
$(document).ready(()=> {

	$.ajax({url: "<%=baseURL%>check-profile-status", success: (result) => {
		if(!result.is_profile){
			$('.profile-section').html(result.caption).addClass('show').removeClass('hide');
		} else {
			$('.profile-section').html('').addClass('hide').removeClass('show');
		}
    }});
    
	$.ajax({url: "<%=baseURL%>statistics/outwards", success: (result) => {
        $('.outwardsChart').html(result);
    }});

    $.ajax({url: "<%=baseURL%>statistics/purchase", success: (result) => {
        $('.purchaseChart').html(result);
    }});

    $.ajax({url: "<%=baseURL%>statistics/total-orders", success: (result) => {
        $('.open-orders').text(result.response.open);
        $('.completed-orders').text(result.response.completed);
        $('.cancelled-orders').text(result.response.cancelled);
    }});

    $.ajax({url: "<%=baseURL%>statistics/total", success: (result) => {
    	$('.total-purchase').text(result.response.total_purchase);
        $('.total-product-views').text(result.response.total_product_views);
        $('.total-favourite-products').text(result.response.total_favourite_products);
        $('.total-purchase-products').text(result.response.total_purchase_products);
        $('.total-active-demands').text(result.response.total_active_demands);
        $('.total-expired-demands').text(result.response.total_expired_demands);
    }});

    $.ajax({url: "<%=baseURL%>compradors/dashboard/match-products", success: (result) => {
        $('.match-products').html(result)
    }});

    $.ajax({url: "<%=baseURL%>compradors/dashboard/get-ongoing-orders", success: (result) => {
        $('#tbl_ongoing_orders').html(result)
    }});

    $.ajax({url: "<%=baseURL%>compradors/dashboard/get-recently-viewed-products", success: (result) => {
        $('#tbl_recently_viewed_products').html(result)
    }});

    $.ajax({url: "<%=baseURL%>statistics/recommended-products", success: (result) => {
        $('.recommended-products').html(result);
    }});
})
</script>
</body>
</html>