<table class="table shopping-cart-wrap">
	<tbody>
		<tr>
		  <th scope="col"><%= labels['LBL_PRODUCT'][language] %></th>
		  <th scope="col" width="140"><%= labels['LBL_ESTIMATED_DATE'][language] %></th>
		  <th scope="col" width="60"><%= labels['LBL_UNIT'][language] %></th>
		  <th scope="col" width="130"><%= labels['LBL_REQUIRED_STOCK'][language] %></th>
		  <th scope="col" width="140"><%= labels['LBL_MAX_PRICE'][language] %></th>
		  <th scope="col" width="120"><%= labels['LBL_STATUS'][language] %></th>
		  <th scope="col" width="100"><%= labels['LBL_ACTION'][language] %></th>
		</tr>
		<% for(let i=0; i < products.length; i++) { %>
			<tr>
				<td>
					<figure class="">											
						<figcaption class="media-body kp_myorder">
							<h3><%= products[i].sub_category_title %></h3>
							<h4><%= products[i].category_title %> &nbsp; <i style="font-size: 14px;" class="fa fa-map-marker" aria-hidden="true"></i> <span><%= products[i].location %></span></h4>
						</figcaption>
					</figure> 
				</td>
				<td> 
					<h4><%= products[i].expire_date %></h4>	
				</td>
				<td> 
					<h4 class='capitalize'><%= products[i].unit_type %></h4>	
				</td>
				<td> 
					<h4 class='capitalize'><%= products[i].product_unit_value %> <%= products[i].unit_type %></h4>	
				</td>
				<td> 
					<h4 class="currency_color_text sku_wrapper"><%= (products[i].higher_price_range) %> Kz </h4>
				</td>
				<td> 
					<h4><%= products[i].status %></h4>	
				</td>
				<td> 
					<div style="display: inline-block;background-color: #f69624;padding: 10px;width: 39px;height: 39px;" class="">
						<a href="<%=baseURL%>trading/product/display/<%= products[i].product_id %>"><i style="font-size: 22px;color: #fff;" class="fa fa-edit"></i></a>
					</div>					
					<div style="display: inline-block;background-color: #aa1a2b;padding: 10px;width: 39px;height: 39px;"  class="">
						<a onclick="notificacao('<%= products[i].sub_category_title %>','<%= products[i].product_id %>')"
						href="#"><i style="font-size: 22px;color: #fff;" class="fa fa-trash"></i></a>
					</div>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script>
	function notificacao(sub_category_title, product_id) {
			$.confirm({
			title: 'Desejas remover o produto ?',
			content: sub_category_title,
			type: 'purple',
			typeAnimated: true,
			buttons: {
				tryAgain: {
					text: 'Sim',
					btnClass: 'btn',
					action: function () {
						$.ajax({
							url: "<%=baseURL%>trading/product/remove/" + product_id,
							success: function (result) {
								setInterval('location.reload()', 5000);
							},
							error: function () {
								location.reload(true);
							}
						});
					}
				},
				close: function () {
				}
			}
		});
	}
</script>