<div class="container custom-container">
	<div class="row paddy50">
		<div class="col-md-2">
			<div class="logo">
				<a href="<%=baseURL%>transporters/dashboard" title="Freshmart">
					<img class="img-responsive" src="../../../images/logo.png" alt="Freshmart">
				</a>
			</div>
		</div>
		<div class="col-md-10 paddy0">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 cus_width">
					<ul class="topnav" id="myTopnav">
						
						<li class="call"><a href="tel:+244 936206262"><img src="../../../images/telephone.png"> +244 936206262</a></li>				
						<ul class="nav navbar-nav">				
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= labels['LBL_HI'][language] %> <%= user.name %> (<%= labels['LBL_TRANSPORTER'][language] %>)
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu my_account">                                         
									<li><a class="" href="javascript:void(0)" onClick="logOut('<%= user.login_type %>')"><%= labels['LBL_LOGOUT'][language] %></a></li>
                                </ul>
                            </li>
                        </ul>
						<li>
							<div class="row head_bg">
								<!-- <%- include('../shared/inner_language_section') %> -->
						    </div>
						</li>
						
					</ul>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					   <i class="fa fa-bars"></i>
					</a>
				</div>
			</div>
			<div class="menu-content overlay">
				<nav class="menu">
			    	<ul>
				    	<li class="menu__item hide">
				    		<a href="http://192.168.1.39/wordpress/kepya/cost-analyzer/" class="menu__link list-1">Cost Analyzer</a>
				    	</li>
				    	<% if(total_cart_products) { %>
				    		<li class="dropdown cart header-cart">
						        <a href="<%=baseURL%>transporters/cart/list" role="button" aria-expanded="false"> 
						          	<img class="cart_ico" src="../../../images/cart.png"><span class="cart_count"><%= total_cart_products %></span>
						        </a>							     
						    </li>
				    	<% } %>
			    	</ul>	
		    	</nav>
		    </div>				    
		</div>
	</div>
</div>