<link rel="stylesheet" href="../../../css/notification.css"/>
<section class="productsdetail">
	<div class="container">
		<div class="breadcrumb_card">
			<%- include('../shared/breadcrumb') %>
		</div>
		<div class="product_card">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
			 		<h3><%= labels['LBL_NOTIFICATION_TITLE'][language] %></h3>
				</div>
				<div class="notification-no-records">
					<% if(logs.length > 0){ %>
						<div class="col-md-6 col-sm-6 col-xs-6 clear-notification-icon" onclick='clearNotification()'>
							<div style="color: #fff; background-color: #3cc0a6;padding: 10px;width: auto;height: 39px; margin: 2%;"  class="btn pull-right">
								<%= labels['LBL_CLEAR_ALL_NOTIFICATION'][language] %>
							</div>
						</div>
						<% for(let i=0; i < logs.length; i++) { %>
							<div class="col-md-12">
								<div class="my_orders notification">
									<div class="order_header" style="background-color: #3cc0a6;">
										<div class="row">
											<div class="col-md-10 col-sm-10 col-xs-10">
												<p  style="color: #fff;"><%= logs[i]['title'] %></p>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-2" >
												<a href="<%=baseURL%>notification/remove/<%= logs[i]['notification_log_id'] %>">
													<i id="clicke-me" class="fa fa-trash fa-2x bin_min"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="row">
			                            <div class="col-md-12 mb-sm--20">
			                                <div class="text-block2">
			                                    <h4 class="mb--20"><%= logs[i]['description'] %></h4>
			                                    <p class="noti_date"><%= logs[i]['created_at'] %></p>
			                                </div>
			                            </div>
			                        </div>
								</div>
							</div>
			
						<% } %>
					<% } else { %>
						<div class="col-md-12"><p><%= labels['LBL_MENU_NOTIFICATION_NO_RECORD_AVAILABLE'][language] %></p></div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
function clearNotification(){
	$('.clear-notification-icon').fadeOut('slow');
	$(".notification-no-records").html("<div class='col-md-12'><p><%= labels['LBL_MENU_NOTIFICATION_NO_RECORD_AVAILABLE'][language] %></p></div>")
	$.post( "<%=baseURL%>clear-notifications", {}).done(function( data ) {});
}


</script>