<% for(let d=0; d < demands.length; d++) { %>
	<% if(demands[d]['products'].length > 0){ %>
		<% for(let i=0; i < demands[d]['products'].length; i++) { %>
			<% if(demands[d]['products'][i]['remaining_unit_value'] >= demands[d]['products'][i]['min_qty']){ %>
				<div class="col-md-3 col-sm-6 col-xs-12 product-list">
					<div class="product-data">
						<div class="product-img" onClick="goToDetails('<%= demands[d]['products'][i].product_id %>')">
						  <img src="<%= demands[d]['products'][i].images[0] %>" class="pro-image">
						</div>
						<div class="product-text">
							<a href="<%=baseURL%>trading/explore/details/<%= demands[d]['products'][i].product_id %>"><h3 class="pro_title_"><%= demands[d]['products'][i].sub_category_title %></h3></a>
							<h4><%= demands[d]['products'][i].category_title %> / <%= labels['LBL_QUANTITY'][language] %> : <%= demands[d]['products'][i].remaining_unit_qty %> <%= (demands[d]['products'][i]['remaining_unit_value'] > 1) ? demands[d]['products'][i]['unit_plural_title'] : demands[d]['products'][i]['unit_type'] %></h4>
							<h4 class="currency_color_text sku_wrapper pro-bottom">Kz <%= (demands[d]['products'][i].unit_price) %> / <%= demands[d]['products'][i].unit_type %></h4>
							<div class="kp_location">
								<i class="fa fa-map-marker" aria-hidden="true"></i> <span class='pro-location'><%= demands[d]['products'][i].state_name %></span>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>
	<% } %>
<% } %>
<script>
	function goToDetails(product_id){
		window.location.href = "<%=baseURL%>trading/explore/details/"+product_id;
	}
</script>